@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #52B788;
    --black: #000;
    --white: #fff;
    --light-black: #666;
    --bg: #f9f9f9;
    --border: 0.1rem solid rgba(0,0,0,0.3);
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

section { padding: 5rem 9%; }

.heading {
    text-align: center;
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.heading span {
    color: var(--primary);
    padding: 0 1.5rem;
    border: 1px solid var(--primary);
    border-radius: .5rem;
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--white);
}

.header .logo span { color: var(--primary); }

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1.8rem;
    text-transform: uppercase;
    color: var(--white);
}

.header .navbar a:hover {
    color: var(--primary);
    border-bottom: 0.3rem solid var(--primary);
    padding-bottom: .5rem;
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--white);
    display: none;
    cursor: pointer;
}

.header.active {
    background: var(--white);
    box-shadow: var(--box-shadow);
}
.header.active .logo { color: var(--black); }
.header.active .navbar a { color: var(--black); }
.header.active #menu-btn { color: var(--primary); }

/* HOME / HERO /
.home {
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(26, 71, 49, 0.85), rgba(0, 0, 0, 0.8)), url(images/background.jpg) center/cover;
    height: 100vh;
}
.home .content h3 { font-size: 5.5rem; color: var(--white); }
.home .content h3 span { color: var(--primary); }
.home .content p { font-size: 2rem; color: var(--bg); }

/ ABOUT US */
.about .row { display: flex; align-items: center; flex-wrap: wrap; gap: 1.5rem; }
.about .row .image, .about .row .content { flex: 1 1 45rem; }
.about .row .image img { width: 100%; height: auto; }
.about .row .content .title { font-size: 3rem; color: var(--black); }
.about .row .content p { font-size: 1.5rem; color: var(--light-black); line-height: 1.8; text-align: justify; }
.about .row .content .icons-container { display: flex; gap: 1rem; padding-top: 2rem; }
.about .row .content .icons-container .icons { flex: 1 1 15rem; border: var(--border); padding: 1.5rem; text-align: center; border-radius: .5rem; }
.about .row .content .icons-container .icons i { font-size: 2rem; color: var(--primary); }


.product .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}
.product .box-container .box {
    padding: 4rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}
.product .box-container .box:hover {
    transform: translateY(-0.5rem);
}
.product .box-container .box img { height: 10rem; }
.product .box-container .box h3 { color: var(--black); font-size: 2.5rem; padding-top: 1.5rem; }
.product .box-container .box p { color: var(--light-black); font-size: 1.5rem; padding: 1rem 0; line-height: 1.8; }

/* SECCIÓN EQUIPO */
.team .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}
.team .box-container .box {
    position: relative;
    height: 30rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.team .box-container .box img { height: 100%; width: 100%; object-fit: cover; }
.team .box-container .box span { position: absolute; top: 1rem; right: 2rem; font-size: 5rem; font-weight: bolder; color: var(--black); }
.team .box-container .box .content {
    position: absolute; top: 6rem; left: 0; height: 100%; width: 100%;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    opacity: 0; transition: .3s;
}
.team .box-container .box:hover .content { top: 0; opacity: 1; background: rgba(255,255,255,0.9); }
.team .box-container .box .content h3 { font-size: 2.5rem; color: var(--black); }
.team .box-container .box .content p { font-size: 1.5rem; color: var(--light-black); }

/* VIDEO DEL PRODUCTO */
.video-container { display: flex; justify-content: center; align-items: center; margin-top: 2rem; }